<template>
    <Head>
        <title>Home</title>
    </Head>
    <MonitorList :monitors="monitors" />
</template>

<script>
    import Layout from '../components/Layout.vue'; 
    export default {
        layout: Layout,
    }
</script>

<script setup>
    import { Head } from '@inertiajs/vue3';
    import MonitorList from '../components/home/MonitorList.vue';
    defineProps(['monitors']);
</script>