<template>
    <Link 
        :class="class"
        preserve-scroll 
        :href="href"
    ><slot></slot></Link>
</template>

<script setup>
    import { Link } from '@inertiajs/vue3';
    defineProps(['component', 'href', 'class']);
</script>