<template>
    <Head>
        <title>Hello</title>
    </Head>
    <Navbar />
    <div class="container px-4 pt-5 mx-auto">
        <slot></slot>
    </div>
    <Footer />
</template>

<script setup>
    import { Head } from '@inertiajs/vue3';
    import Navbar from './Navbar.vue';
    import Footer from './Footer.vue';
</script>