<template>
    <nav class="flex items-center justify-between pt-4" aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Showing <span class="font-semibold text-gray-900 dark:text-white">1-10</span> of <span class="font-semibold text-gray-900 dark:text-white">1000</span></span>
        <ul class="inline-flex -space-x-px text-sm h-8">
            <li>
                <Link 
                    :href="prev" 
                    :class="prev === null 
                        ? 'text-gray-300 cursor-default bg-gray-300' 
                        : 'text-gray-500 cursor-pointer dark:hover:bg-gray-700 dark:hover:text-white hover:bg-gray-100 hover:text-gray-700'"
                    class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg  dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"
                >Previous</Link>
            </li>
            
            <li v-for="num in lastPage">
                <Link href="#" 
                    aria-current="page" 
                    :class="currentPage==num 
                    ? 'flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' 
                    : 'flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'"
                >{{ num }}</Link>
            </li>

            <li>
                <Link 
                    :href="next" 
                    :class="next === null 
                        ? 'text-gray-300 cursor-default bg-gray-300' 
                        : 'text-gray-500 cursor-pointer dark:hover:bg-gray-700 dark:hover:text-white hover:bg-gray-100 hover:text-gray-700'"
                    class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"
                    >Next
                </Link>
            </li>
        </ul>
    </nav>
</template>

<script setup>
    import { Link } from '@inertiajs/vue3';
    defineProps(['next', 'prev', 'currentPage', 'lastPage']);
</script>