<template>
    <div class="mb-5">
        <Link href="/site/create">
            <button class="px-5 py-2 bg-fuchsia-400 text-white">Add Site</button>
        </Link>
    </div>
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Site name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Site URL
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Response
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Response Code
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="monitor in monitors.data" :key="monitor.id" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                       {{ monitor.site_name }}
                    </th>
                    <td class="px-6 py-4">
                        {{ monitor.site_url }}
                    </td>
                    <td class="px-6 py-4">
                        {{ monitor.status }}
                    </td>
                    <td class="px-6 py-4">
                        {{ monitor.response }}
                    </td>
                    <td class="px-6 py-4">
                        {{ monitor.response_code }}
                    </td>
                </tr>
            </tbody>
        </table>
       <Paginate 
            :next="monitors.next_page_url" 
            :prev="monitors.prev_page_url"
            :currentPage="monitors.current_page" 
            :lastPage="monitors.last_page"
        />
    </div>
</template>

<script setup>
    import { Link } from '@inertiajs/vue3';
    import Paginate from '../Paginate.vue'
    defineProps(['monitors'])
</script>